/* Styles for Plant Info Page */
.plant-info-page {
    background-image: url('../images/background.jpg'); /* Set the background image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center */
    height: 100vh; /* Full height */
    margin: 0; /* Remove default margin */
}

/* Responsive styles */
@media (max-width: 600px) {
  .plant-info-page {
    height: auto;
    padding: 10px;
  }
}
   
